<!DOCTYPE html>

<html lang="en">

<head>
  <title><%= pageTitle %></title>
</head>

<body style="font-size:15px" padding="20px">
  <h1 style="font-size:16px" padding="10px" margin="10px">MAKING THE WORLD FIT MORE STUFF <br />
  <span style="font-size:10px" padding="10px" margin="10px">ONE TINY URL AT A TIME </span>
  </h1>

  <% if (user) {%>
    <p><%=user["email"]%>
      <form action="/logout" method="POST" style="margin:20px;">
        <input type="submit" value="logout">
      </form>
    </p>
  <%} else {%>
    <span style="font-size: 9.5px">
    <a href="/register">register</a><br />
    <a href="/login">login</a>
    </span>
  <%}%>


