<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body style="font-size:15px" padding="20px">

  <h1 style="font-size:16px" padding="10px" margin="10px">MAKING THE WORLD FIT MORE STUFF <br />
  <span style="font-size:10px" padding="10px" margin="10px">ONE TINY URL AT A TIME </span>
  </h1>
</body>
<footer>
</footer>

