 <!DOCTYPE html>

<html lang="en">
<header>
  <title>TinyApp</title>
  <% include ./partials/_header %>
  </header>
<body>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if (user) {%>
        <p>your tiny treasure trolly: <%=shortURL%></p>
        <form action="/urls/<%=shortURL%>/" method="POST" style="width:20px">
          <input id="longURL" type="text" name="longURL" value="<%=longURL%>" style="width: 250px;">
      </td>
      <td>
          <input type="submit" id="UPDATE" value="UPDATE" style="width:60px">
        </form>
  <%} else {%>

  <p> go ahead and log in <br />tiny treasures await </p>
    <a href="/register">register</a><br />
    <a href="/login">login</a>
  <%}%>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>