<% let pageTitle = "TinyApp - URL" %>
<% include ./partials/_header %>

<% if (user) {%>
<p>your tiny treasure trolly now includes: <%=shortURL%></p>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <form action="/urls/<%=shortURL%>/" method="POST" style="width:20px;">
          <td>
              <input id="longURL" type="text" name="longURL" value="<%=longURL%>" style="width: 250px;">
          </td>
          <td>
              <input type="submit" id="UPDATE" value="UPDATE" style="width:60px">
          </td>
        </form>
      </tr>
    </tbody>
  </table>
  <p><a href="/urls">click here </a> to see your complete treasure collection</p>
<%} else {%>
  <p> go ahead and log in <br />tiny treasures await </p>
  <a href="/register">register</a><br />
  <a href="/login">login</a>
<%}%>
</body>
</html>