<!DOCTYPE html>

<html lang="en">
<header>
  <% include ./partials/_header %>
  </header>
<body>

<table>
  <thead>
    <tr>
      <th>YOUR URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="<%=longURL%>"><%=longURL%></a></td>
      <td><a href="<%=longURL%>"><%= shortURL %></a></td>
    </tr>
  </tbody>
</table>

    <!-- Add your EJS code here -->
</body>
</html>