<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<table>
  <thead>
    <tr>
      <th>Short URL</th>
      <th>Long URL</th>
    </tr>
  </thead>
  <tbody>
    <% for (var shortURL in urls) { %>
    <tr>
      <td><%= shortURL %></td>
      <td><%= urls[shortURL] %></td>
    </tr>
    <% } %>
  </tbody>
</table>

    <!-- Add your EJS code here -->
</body>
</html>