 <!DOCTYPE html>

<html lang="en">
<header>
  <% include ./partials/_header %>
  </header>
<body>

<table>
  <thead>
    <tr>
      <th>YOUR tiny URL: <%=shortURL%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <form action="/urls/<%=shortURL%>/" method="POST" style="width:20px">
          <input id="longURL" type="text" name="longURL" placeholder="<%=longURL%>" style="width: 250px;">
      </td>
      <td>
          <input type="submit" id="UPDATE" value="UPDATE" style="width:60px">
        </form>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>